.email--field {
   background: var(--field-color);
   color: var(--secondary-text-color);
   font-family: 'Azo-Sans';
   font-size: 24px;
   width: 374px;
   height: 45px;
   border: none;
   box-sizing: border-box;
   border-radius: 5px;
   margin: 5px 0px;
   padding: 20px;
}

.email--field::placeholder {
   opacity: 40%;
}